

<div id="newaccountmain">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="font-title"><h1>アカウント登録ページ</h1></div>
<div class="final-form">

  <div class="field">
     <label>ニックネーム</label>

    <%= f.text_field :username, autofocus: true %>
  </div>


  <div class="field">
      <label>ID(学籍番号・入試番号)</label>
    <%= f.text_field :mynumber, autofocus: true %>
  </div>


  <div class="field" style="display: none;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", value:"123123123" %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", value:"123123123" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント登録", type: "button", id: "btn_submit" %>
</div>
<% end %>

<%= render "devise/shared/links" %>


  </div>
  
</div>


<script>
  $(document).ready(function(){
    $("input").on("keyup", function() {
      var id = $("input[id='user_mynumber']").val();
    console.log(id + "@gmail.com");
    document.getElementById('user_email').value = id + "@gmail.com";
    });
});

  $(document).ready(function(){
  $('#btn_submit').click(function(){
    var id = $("input[id='user_mynumber']").val();
    console.log(id + "@gmail.com");
    document.getElementById('user_email').value = id + "@gmail.com";

    $('#new_user').submit();
  });
});
</script>