<div id="newaccountmain">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="final-form">
<h1>ログイン</h1>


  <div class="field">
  <label>学籍番号</label>
  <input id="area51" name="area1" />
  </div>

  <div class="field" style="display: none;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", value: "123123123"%>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>


<% end %>
<%= render "devise/shared/links" %>

  </div>




<script>
$("input").on("keyup", function() {
  var id = $("input[id='area51']").val();
console.log(id + "@gmail.com");
document.getElementById('user_email').value = id + "@gmail.com";
});
</script>